body>h1{
    color: #00ffff;
    font-style: italic;
    position: relative;
    
    
}
h1{
    color: #00ffff;
    text-align: center;
}

p{
    color: #00ffff;
    font-family: 'Courier New', Courier, monospace;
    font-size:15pt;
    
}
h2{
    color: aqua;text-indent:  5pt;
    text-align: center;
}


html{
    background: url(https://static6.depositphotos.com/1002818/543/i/600/depositphotos_5433720-stock-photo-radiation-danger-zone.jpg) no-repeat  top center;
    background-size: cover;
}
   
    
